# Clerk secrets for api key and webhook
# NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test
# CLERK_SECRET_KEY=sk_test
NEXT_CLERK_WEBHOOK_SECRET=whsec_

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test
CLERK_SECRET_KEY=sk_test
# Clerk routes
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

#  Tiny editor
NEXT_PUBLIC_TINY_EDITOR_API_KEY=as18

# Database
MONGO_DB_URI=mongodb+srv://:@cluster0.xwpcjtg.mongodb.net/

# OpenAI and public secrets
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
OPENAI_API_KEY=sk